<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="com.avatar.**" />

	<import resource="avatar-datasource.xml" />
	<import resource="avatar-mailsender.xml" />

	<bean id="apnsPushThreads" class="java.lang.Integer">
		<constructor-arg value="10" />
	</bean>

	<bean id="apnsAlertMsg" class="java.lang.String">
		<constructor-arg value="Member %s is approaching..." />
	</bean>

	<bean id="apnsCertificateP12Staff" class="java.lang.String">
		<constructor-arg value="props/iphone_dis_staff.p12" />
	</bean>

	<bean id="apnsCertificateP12Member" class="java.lang.String">
		<constructor-arg value="props/iphone_dis_member.p12" />
	</bean>

	<bean id="apnsCertificateP12Password" class="java.lang.String">
		<constructor-arg value="hdinguyen" />
	</bean>

</beans>