<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Avatar Application</display-name>
	<description>
	       This is the Avatar web backend.
	   </description>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<!-- ws version -->
		<url-pattern>/1/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- security-constraint> <web-resource-collection> <web-resource-name>Restricted</web-resource-name> 
		<url-pattern>/1/BeaconMgr/*</url-pattern> <url-pattern>/1/AcctMgr/GetMemberAcct</url-pattern> 
		</web-resource-collection> <auth-constraint> <role-name>clubAdmin</role-name> 
		</auth-constraint> </security-constraint -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Public</web-resource-name>
			<url-pattern>/1/AcctMgr/GetMemberAcct</url-pattern>
			<url-pattern>/1/AcctMgr/GetAccountInfo</url-pattern>
			<url-pattern>/1/AcctMgr/AddClubSubAmenityToAccount</url-pattern>
			<url-pattern>/1/AcctMgr/get*</url-pattern>
			<url-pattern>/1/BeaconMgr/*</url-pattern>
			<url-pattern>/1/CalendarMgr/*</url-pattern>
			<url-pattern>/1/AvailabilityMgr/*</url-pattern>
			
			<url-pattern>/1/LoginMgr/*</url-pattern>
			<url-pattern>/1/WebAdminMgr/*</url-pattern>
			<url-pattern>/1/ClubMgr/*</url-pattern>
			<url-pattern>/1/TestMgr/*</url-pattern>

			<url-pattern>/1/open/*</url-pattern>
			<url-pattern>/1/Registration/*</url-pattern>
			<url-pattern>/1/SurveyMgr/*</url-pattern>

			<url-pattern>/1/AcctMgr/Mobile/*</url-pattern>
			<url-pattern>/1/AcctMgr/Member/*</url-pattern>
			<url-pattern>/1/AcctMgr/NonMobile/*</url-pattern>
			<url-pattern>/1/AcctMgr/Employee/*</url-pattern>
			<url-pattern>/1/AcctMgr/MapTangerineHandsetIDwithUser</url-pattern>
			<url-pattern>/1/AcctMgr/AddClubAmenityToAccount</url-pattern>
			<url-pattern>/1/AccountMgr/SetNoticeInfo</url-pattern>
			<url-pattern>/1/AccountMgr/setNoticeInfo</url-pattern>
			<url-pattern>/1/AcctMgr/setNoticeInfo</url-pattern>
			<url-pattern>/1/AcctMgr/SetNoticeInfo</url-pattern>
			<url-pattern>/1/AcctMgr/SetAccountInfo</url-pattern>
			<url-pattern>/1/AcctMgr/SetEmployeeAccountInfo</url-pattern>
			<url-pattern>/1/AcctMgr/GetAcctInfo</url-pattern>
			<url-pattern>/1/AcctMgr/testApns</url-pattern>
			<url-pattern>/1/AcctMgr/testEmail</url-pattern>
			<url-pattern>/1/AcctMgr/AddClubAmenityToAccount</url-pattern>
			<url-pattern>/1/AccountMgr/AddClubAmenityToAccount</url-pattern>
			<url-pattern>/1/AccountMgr/MapTangerineHandsetIDwithUser</url-pattern>
			<url-pattern>/1/AccountMgr/Member/MapTangerineHandsetIDwithUser</url-pattern>
			<url-pattern>/1/AccountMgr/Mobile/MapTangerineHandsetIDwithUser</url-pattern>
			<url-pattern>/1/AccountMgr/testApns</url-pattern>
			<url-pattern>/1/AccountMgr/Mobile/*</url-pattern>
			<url-pattern>/1/AccountMgr/Member/*</url-pattern>
			<url-pattern>/1/AccountMgr/NonMobile/*</url-pattern>
			<url-pattern>/1/AccountMgr/Employee/*</url-pattern>
			<url-pattern>/1/AccountMgr/SetAccountInfo</url-pattern>
			<url-pattern>/1/AccountMgr/SetNonMobileAccountInfo</url-pattern>
			<url-pattern>/1/AccountMgr/SetEmployeeAccountInfo</url-pattern>
			<url-pattern>/1/AccountMgr/GetAcctInfo</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-role>
		<role-name>SuperUser</role-name>
	</security-role>
	<security-role>
		<role-name>staff</role-name>
	</security-role>
	<security-role>
		<role-name>brUser</role-name>
	</security-role>
	<security-role>
		<role-name>clubAdmin</role-name>
	</security-role>
	<security-role>
		<role-name>user</role-name>
	</security-role>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login-failed.html</form-error-page>
		</form-login-config>
	</login-config>
</web-app>     
